*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  align-items: center;
}

.content__details {
  margin-bottom: 70px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.content__list {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  block-size: 300px;
  inline-size: 400px;
}

.content__list-item {
  scroll-snap-align: start;
}

.content__list-item:not(:last-child) {
  margin-bottom: 35px;
}

.result__video-container {
  position: relative;
  block-size: 390px;
  inline-size: 710px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  object-position: center;
}

.content__video-card {
  display: flex;
  color: white;
}

.content__video-card-thumbnail {
  inline-size: 195px;
  block-size: 100px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title {
  color: white;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 185px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__textfield {
  border-style: solid;
  border-color: white;
  border-width: 1px 0;
  background-color: transparent;
  color: white;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  inline-size: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
  align-items: center;
  padding-bottom: 4px;
}

.search-form__pseudo-checkbox {
  display: block;
  outline: 1px solid white;
  block-size: 17px;
  inline-size: 17px;
  appearance: none;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  inline-size: 17px;
  block-size: 17px;
  margin: 1px 0 0 1px;
}

.button {
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  inline-size: 99%;
  block-size: 34px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline white;
}

.button:active {
  background-color: #545050;
}

.more-button {
  margin: 2px;
}
.search-form__submit-button{
  inline-size: 194px;
}